.bento-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Dos columnas iguales
    gap: 1rem; // Espacio entre elementos
    margin: 1rem 0;
  
    @media (max-width: 768px) { // Adaptación para pantallas más pequeñas
      grid-template-columns: repeat(1, 1fr); // Una sola columna en móvil
    }
  
    .bento-item {
      min-height: 35vh;
      padding: 0.25rem 0;
      background-color: $secondary-color; // Fondo semitransparente
      border-radius: 2rem;
      overflow: hidden; // Evita que el contenido se desborde del borde redondeado
      @include subtle-shadow;
      @include glass-panel;
      transition: transform 0.2s ease-in-out;
  
      //&:hover {
      //    transform: scale(1.02);
      //}
  
      &.bento-item--1x2 {
        @media (min-width: 768px) { 
          grid-row: span 2;
      }
        }
        
  
      &.bento-item--2x1 {
        @media (min-width: 768px) { 
          grid-column: span 2;
        }
      }
  
      img {
          width: 6rem;
          height: 1.25rem;
          padding: 0 1rem;
          display: block; // Evita espacio extra debajo de la imagen
          object-fit: cover;
      }
  
      .bento-content {
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: calc(100% - 1.25rem);
          color: $text-color;
      }
  
      h2 {
          margin-bottom: 0.5rem;

          &:hover {
              @include title-gradient;
          }
      }
    }
  }