.header {
    width: 100%;
    display: flex;
    justify-content: center;
    //background-color: $secondary-color;
    padding: 1rem 0;
    //@include glass-panel;

    .header-nav {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-title, .header-navigation, div {
            display: flex;
            align-items: center;
            width: 250px;
            margin: 0;
        }

        .header-title {
            @include title-gradient;
            text-shadow: none;
        }

        .header-navigation {
            justify-content: space-between;
            padding: 0;

            @media (max-width: 768px) {
                display: none;
            }

            li {
                
                display: block;

                a {
                    text-decoration: none;
                    color: $text-color;
                    font-weight: 600;
                
                    &:hover {
                        @include title-gradient
                    }
                }
            }
        }

        div {
            justify-content: flex-end;

            .header-search {
                display: flex;
                padding: 0.5rem 3rem 0.5rem 2rem;
                border-radius: 2rem;
                gap: 1rem;
                text-align: center;
                align-items: center;
                background-color: $transparency;
                color: $secondary-color;
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                font-size: medium;
                cursor: pointer;
    
                @media (max-width: 768px) {
                    display: none;
                }
    
                img {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }
}

