@mixin neon-effect {
    text-shadow: 0 0 1px $primary-color-lighter;
  }
  
  @mixin subtle-shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  @mixin glass-panel {
      background-color: rgba(0, 0, 0, 0.2);
      --webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border-radius: 1rem; // Adjust alpha for transparency
  }

  @mixin title-gradient {
    background: linear-gradient(to right, $second-accent-color, $primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
