$primary-color: #1793D1;
$secondary-color: #515151;
$accent-color: #A8D1FF;
$second-accent-color: #a063f3;
$background-color: #333333;
$opaque-background-color: #222222;
$text-color: #FFFFFF;


$primary-color-darker: #0F6090;
$primary-color-lighter: #51B8E5;

$transparency: rgba(255, 255, 255, 0.1)