@import './variables', './mixins', './components/header', './components/bento', './components/hero', './components/card', './components/button', './components/footer';

html,
body {
  margin: 0;
  left: 0;
  top: 0;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to bottom, $opaque-background-color, $background-color);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: content-box;
  color: $text-color;

  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 auto;

}

h1, h2, h3 {

  cursor: default;

  @media (max-width: 768px) {
    font-size: medium; 
  }
}

a {
  color: inherit;
  text-decoration: none;
}
// ... otros estilos globales

  