---
import '../styles/global.scss'
---

<footer class="footer">
    <nav class="footer-nav">
        <h2 class="footer-title">
            Pacman Chronicles
        </h2>
        <span class="footer-credits">
            Created by 
            <a href="#">
                Paulo
            </a>
        </span>
    </nav>
</footer>

