---
import '../styles/global.scss'
---

<header class="header">
    <nav class="header-nav">
        <h1 class="header-title">
            Pacman Chronicles
        </h1>
        <ul class="header-navigation">
            <li><a href="">Inicio</a></li>
            <li><a href="">Artículos</a></li>
            <li><a href="">Acerca de</a></li>
            <li>
                <input type="text" placeholder="Search" class="header-search">
            </li>
        </ul>
    </nav>
</header>