---
import '../styles/global.scss'
---

<section class="hero">
    <img src="/src/assets/Archlinux-background.jpg" alt="logo-background">
    <div class="hero-card">
        <h2 class="hero-title">Bienvenido a Pacman Chronicles</h2>
        <p class="hero-slogan">Un Blog sobre Arch linux para newbies</p>
    </div>
</section>